#messages__page--banner {
    padding: 195px 0px 310px;
    margin-top: 310px;
    position: relative;
    z-index: 1;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(44, 98, 214, 0.25);
        z-index: -1;
    }

    .banner-text {
        text-align: center;

        & h2 {
            font-family: 'Oswald', sans-serif;
            font-size: 72px;
            font-weight: 700;
        }

        & h5 {
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            font-weight: 400;
        }

    }

    .ab__shape {
        position: absolute;
    }

    .one {
        top: 170px;
        left: 585px;
    }

    .two {
        top: 290px;
        left: 890px;
    }

    .three {
        top: 390px;
        left: 300px;
    }
}

//massages__managing part start
#massages__managing {
    padding: 161px 0;

    .massages__managing--img{
        margin-top: 120px;
    }

    .massages__managing--text {
        & h4 {
            font-family: 'Open Sans', sans-serif;
            font-size: 24px;
            font-weight: 600;
            color: #000000;
            margin-bottom: 16px;
        }

        & h3 {
            font-family: 'Open Sans', sans-serif;
            font-size: 36px;
            font-weight: 600;
            color: #2C62D6;
            margin-bottom: 48px;

        }

        & p {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #000000;
            line-height: 200%;
            padding-right: 60px;
        }
    }

    .last__text {
        margin-top: 28px;

        & h4 {
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 6px;
        }

        & h5 {
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 6px;
        }

        & h6 {
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            font-weight: 400;
        }
    }
}

//massages__chief part start
#massages__chief {
    padding: 161px 0;

    .massages__chief--img{
        margin-top: 120px;
    }

    .massages__chief--text {
        & h4 {
            font-family: 'Open Sans', sans-serif;
            font-size: 24px;
            font-weight: 600;
            color: #000000;
            margin-bottom: 16px;
        }

        & h3 {
            font-family: 'Open Sans', sans-serif;
            font-size: 36px;
            font-weight: 600;
            color: #2C62D6;
            margin-bottom: 48px;

        }

        & p {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #000000;
            line-height: 200%;
            
        }
    }

    .last__text {
        margin-top: 28px;

        & h4 {
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 6px;
        }

        & h5 {
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 6px;
        }

        & h6 {
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            font-weight: 400;
        }
    }
}
